.navbar {
  background-color: $bgColor;
  color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3rem solid $primaryColor;
  .left-navbar {
    display: flex;
    align-items: center;
    h1 {
      margin: 25px;
      font-size: 2rem;
      span {
        color: $primaryColor;
      }
    }
  }
  .right-navbar {
    margin: 25px;
    color: $bgColor;
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 0 2rem;
        align-items: center;
        .active{
            color: $primaryColor;
        }
        a {
          text-decoration: none;
          font-size: 1rem;
          color: $secondaryColor;
          text-transform: uppercase;
          &:hover{
              color: $secondaryColor;
          }
        }
      }
    }
  }
}

